.compare-buttons {
    margin-top: 20px;
}

.compare-buttons a[data-compare="remove"] {
    display: none;
}

.compare-buttons a[data-compare="add"] .filter-checkbox {
    border: 2px solid var(--bgButton);
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.compare-buttons a[data-compare="add"].compare-hidden .filter-checkbox {
    border-radius: 50%;
    background-color: var(--bgButton);
    display: inline-block;
    width: 15px;
    height: 15px;
}

.showcase .showcase-content .showcase-content__item a {
    color: var(--productText);
}

.btn-compare {
    background-color: var(--bgButton);
    border-radius: 5px;
    color: var(--textButton);
    padding: 6px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-compare:hover {
    color: var(--textButton);
    text-decoration: none;
    text-transform: uppercase;
}

/* Página - Comparar Produto */

.page-comparador .comparator {
    border: none;
    text-align: center;
}

.page-comparador .comparatorTabs {
    margin: 0;
}

.page-comparador .comparatorTabs li {
    border: none;
    padding-right: 10px;
}

.page-comparador .comparatorTabs li a {
    border: none;
    background-color: var(--seloDestaqueBg);
    color: var(--bgButton);
    padding: 6px 8px 5px;
}

.page-comparador .comparatorTabs li.aberta a {
    border: none;
    background-color: var(--bgButton);
    color: var(--textButton);
    padding: 6px 8px 5px;
}

.Labels {
    display: none;
}

.page-comparador .comparator>ul {
    flex-wrap: wrap;
}

.page-comparador .comparator>ul>li {
    border: none;
    width: calc(100%/4);
}

.page-comparador .comparator>ul>li ul li {
    border: none;
    font-size: 1.3rem;
}

.comparsionFoto a[title="Comprar"]:hover {
    color: var(--textButton);
}

.comparsionFoto a[title="Escolher"]:hover {
    color: var(--textButton);
}

.comparsionFoto a[title="Comprar"]::before {
    content: "Comprar";
    background-color: var(--bgButton);
    color: var(--textButton);
    white-space: nowrap;
    text-transform: uppercase;
    padding: 8px 32px;
    border-radius: 20px
}

.comparsionFoto a[title="Escolher"]::before {
    content: "Escolher";
    background-color: var(--bgButton);
    color: var(--textButton);
    white-space: nowrap;
    text-transform: uppercase;
    padding: 8px 32px;
    border-radius: 20px
}

.page-comparador .comparator>ul>li ul li.comparsionFoto>div:nth-child(2) img {
    display: none;
}

.comparsionFoto {
    margin-bottom: 50px;
}

.page-comparador .comparator>ul>li ul li.comparsionFoto {
    height: unset;
}

.page-comparador .comparator>ul>li ul li.comparsionInfoPreco {
    height: unset;
}

.page-comparador .comparator>ul>li ul li.comparsionDescricao {
    height: unset;
}

.page-comparador .comparator>ul>li ul li.displayGarantia {
    height: unset !important;
}

.left {
    text-align: center;
}

.right {
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
}

.bgcolor {
    display: none;
}

#mulink {
    text-decoration: none;
    color: var(--bgButton);
}

#mulink:hover {
    color: var(--productPrice);
}

.btn-proxima-pagina::after {
    content: "-";
    color: var(--bgButton);
}

.btn-pagina-anterior {
    margin-right: 10px;
}

.btn-pagina-anterior::before {
    content: "-";
    color: var(--bgButton);
}

/*Medias Queries*/

@media (max-width: 1024px) {
    .btn-compare {
        padding: 6px 8px 5px;
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .page-comparador .comparator>ul>li {
        width: calc(100%/3);
    }
}

@media (max-width: 768px) {
    .page-comparador .comparator>ul>li {
        width: calc(100%/2);
    }
}

@media (max-width: 500px) {
    .page-comparador .comparator>ul>li {
        width: calc(100%);
    }
}