.brands {
    padding: 10px 0 0;

    .control {
        margin-top: 30px;
        .dep_lista{
            background-color: aqua;
        }
    }

    .brands-carrossel {
        .link-brand {
            text-decoration: none;

            img {
                margin: 0 auto;
                transition: .3s;
            }

            &:hover {
                img {
                    border-radius: 15px 15px 0;
                }
            }

            .name-brand {
                text-align: center;
                margin-top: 15px;
                font-size: 15px;
                font-weight: $semiBold;
                color: #000;
            }
        }
    }
}