// breadcrumb
.breadcrumb-content {
    .breadcrumb__flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .breadcrumb__item {
            font-weight: $regular;
            padding: 5px 0;
            
            a {
                color: #555;
            }

            .slash {
                margin-left: 5px;
                margin-right: 5px;
            }
        }

        .breadcrumb__item.breadcrumb__item--selected {
            color: #555;
            font-weight: $bold;
        }
    }
}

.banner-product {
    margin-bottom: 50px;
}