.footer {
    background-color: var(--footerBg);
    padding: 50px 0;

    .foo-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .footer-item {
            color: var(--footerText);
            width: calc(100% / 4);
            padding-right: 40px;

            @media(max-width: 991px) {
                width: calc(100% / 3);
                margin-bottom: 20px;
            }

            @media(max-width: 767px) {
                width: calc(100% / 2);
            }

            @media(max-width: 440px) {
                width: 100%;
                padding-right: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            h3 {
                font-weight: $semiBold;
                font-size: 18px;
            }

            .links-list {
                margin-top: 15px;

                li a {
                    color: var(--footerText);
                    display: block;
                    margin-bottom: 8px;
                }
            }

            .contact-list {
                margin-top: 15px;

                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    .icon {
                        margin-right: 10px;
                        color: var(--iconColor);
                        font-size: 18px;
                    }
                }
            }

            .social-media {
                margin-top: 15px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-right: -5px;
                margin-left: -5px;

                .social-media__item {
                    padding: 5px;

                    a {
                        text-decoration: none;
                        font-size: 22px;
                        background-color: #fff;
                        border-radius: 15px;
                        width: 40px;
                        height: 40px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        transition: .3s;

                        &:hover {
                            border-radius: 50%;
                        }
                    }

                    .facebook {
                        color: #4267B2;
                    }

                    .twitter {
                        color: #1DA1F2;
                    }

                    .instagram {
                        background: -webkit-linear-gradient(53deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 71%, rgba(252, 176, 69, 1) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: bold;
                        font-size: 25px;
                    }

                    .pinterest {
                        color: #E60023;
                    }

                    .youtube {
                        color: #FF0000;
                    }
                }
            }
        }
    }

    .payment-gateways {
        padding: 20px 0;
        margin-top: 40px;
        border-top: 1px solid #555;
        border-bottom: 1px solid #555;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        @media(max-width: 991px) {
            text-align: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            .payment-content {
                margin-top: 20px;
            }
        }


        .title {
            font-size: 18px;
            font-weight: $bold;
            color: var(--footerText);
        }

        .sub-title {
            font-size: 14px;
            font-weight: $bold;
            color: var(--footerText);
            margin-bottom: 10px;
        }

        .payment-list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            img {
                margin-right: 10px;

                @media(max-width: 384px) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .dev-by {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: var(--footerText);
        margin-top: 20px;

        .dev-by__text {
            width: 60%
        }

        @media(max-width: 580px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            .dev-by__text {
                width: 100%;
                margin-bottom: 15px;
                text-align: center;
            }
        }
    }
}