.footer {
    background-color: var(--footerBg);
    padding: 50px 0;

    .foo-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        .footer-item {
            color: var(--footerText);
            width: calc(100% / 4);
            padding-right: 40px;

            @media(max-width: 991px) {
                width: calc(100% / 3);
                margin-bottom: 20px;
            }

            @media(max-width: 767px) {
                width: calc(100% / 2);
            }

            @media(max-width: 440px) {
                width: 100%;
                padding-right: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            h3 {
                font-weight: $semiBold;
                font-size: 18px;
            }

            .links-list {
                margin-top: 15px;

                li a {
                    color: var(--footerText);
                    display: block;
                    margin-bottom: 8px;
                }
            }

            .contact-list {
                margin-top: 15px;

                li {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    margin-bottom: 15px;

                    .contato-email {
                        font-weight: $bold;
                        border-bottom: 1px solid;
                    }
                    
                    .icon {
                        margin-right: 10px;
                        color: var(--iconColor);
                        font-size: 18px;
                    }
                }
            }

            .social-title {
                margin-bottom: 10px;
            }

            .social-media {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;

                .social-media__item {
                    width: calc(100% / 8);
                    
                    a {
                        background-color: var(--bgButton);
                        color: var(--textButton);
                        width: 32px;
                        height: 32px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        text-decoration: none;
                        border-radius: 5px;
                        transition: .3s;
                        font-size: 18px;

                        &:hover {
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    .payment-content {
        .payment-list {
            margin-top: 15px;
            display: flex;
            flex-wrap: wrap;

            .image-content {
                width: calc(100% / 5);
                padding: 5px;
            }
        }

        .safe-store {
            text-align: center;
            background-color: var(--newsletterBtnBg);
            color: var(--newsBtnText);
            width: 100%;
            margin-top: 12px;
            padding: 15px 0;

            i {
                margin-right: 10px;
            }
        }
    }

    .dev-by {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: var(--footerText);
        margin-top: 20px;
        border-top: 1px solid var(--footerText);
        padding-top: 20px;

        .dev-by__text {
            width: 60%;
        }

        .superteia {
            background-color: #08475e;
            padding: 10px;
            border-radius: 30px;
            img {
                width: 70%;
                margin: 0 auto;
            }
        }

        @media(max-width: 580px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;

            .dev-by__text {
                width: 100%;
                margin-bottom: 15px;
                text-align: center;
            }
        }
    }
}