/**
 * Header
 */

.mini-header {
    background-color: var(--miniHeader);
    padding: 10px 0;
    transition: .2s;

    .mini-header__flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        .text-promotion.primary {
            color: var(--textMiniHeader);
            font-size: 18px;
            font-weight: $bold;
            font-family: $fontStyle;
        }

        .text-promotion.secondary {
            font-size: 18px;
            color: var(--textSecondaryMiniHeader);
            margin-left: 30px;
            margin-right: 30px;

            .price-off-promo {
                font-size: 25px;
                font-family: $fontStyle;
                font-weight: $bold;
            }
        }

        @media(max-width: 991px) {
            .text-promotion.primary {
                font-size: 16px;
            }

            .text-promotion.secondary {
                font-size: 12px;

                .price-off-promo {
                    font-size: 16px;
                }
            }
        }

        .btn-promotion {
            background-color: var(--bgButton);
            color: var(--textButton);
            padding: 8px 25px;
            font-family: $fontStyle;
            text-transform: uppercase;
        }
    }

    @media(max-width: 550px) {
        display: none;
    }
}

.mini-header.remove {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
}

.header {
    background-color: var(--bgHeader);
    z-index: 2;

    .header__content {
        transition: .3s;
        position: relative;

        .header__flex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;

            .header__logo {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;

                .menu {
                    margin-left: 15px;
                    @media(max-width: 992px) {
                        display: none;
                    }

                    .menu__content {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;

                        .more-categories,
                        .item-category {
                            margin-right: 15px;
                            padding: 30px 0;

                            .image-menu {
                                width: 40%;
                                padding: 10px 0;
                            }

                            .flex-list {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-wrap: wrap;
                                flex-wrap: wrap;
                                padding: 10px 0;
                                width: 100%;

                                .more-categories__item,
                                .item-category-second {
                                    padding: 10px 0;
                                    width: calc(100% / 6);
                                    font-weight: $bold;
                                    font-family: $fontStyle;
                                    text-align: center;

                                    a {
                                        color: var(--textMenu);
                                        text-decoration: none;
                                    }

                                    .second-lvl {
                                        font-size: 20px;
                                    }

                                    &:hover .second-lvl {
                                        border-bottom: 1px solid var(--textMenu);
                                    }

                                    .more-categories__drop,
                                    .drop-content-second-lvl {
                                        margin-top: 10px;

                                        .third-lvl {
                                            font-size: 14px;
                                            font-weight: $regular;
                                            font-family: $font;
                                            padding: 5px 0;
                                            display: inline-block;
                                            border-bottom: 1px solid transparent;

                                            &:hover {
                                                border-bottom: 1px solid var(--textMenu);
                                            }
                                        }
                                    }
                                }
                            }

                            .first-lvl {
                                color: var(--textMenu);
                                font-size: 16px;
                                text-decoration: none;
                                transition: .3s;

                                &:hover {
                                    color: var(--hoverTextMenu);
                                }
                            }

                            .more-categories__list,
                            .drop-content-first-lvl {
                                opacity: 0;
                                visibility: hidden;
                                transition: .3s;
                                height: 0;
                                width: 100%;
                                background-color: #fff;
                                position: absolute;
                                top: 90%;
                                left: 0;
                                z-index: 1;

                                .flex-image-menu {
                                    display: flex;
                                }
                            }

                            &:hover .more-categories__list,
                            &:hover .drop-content-first-lvl {
                                opacity: 1;
                                visibility: visible;
                                height: auto;
                            }
                        }
                    }
                }
            }

            .header__action {
                display: flex;
                align-items: center;
                width: 30%;

                .cart {
                    position: relative;

                    .cart-cont {
                        position: absolute;
                        top: -5px;
                        right: -15px;
                        color: #fff;
                        background-color: red;
                        width: 18px;
                        height: 18px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        font-weight: $bold;
                        border-radius: 50%;
                    }
                }

                .far, .fas {
                    color: var(--iconHeader);
                    font-size: 20px;
                }

                .customer {
                    margin-left: 15px;
                    margin-right: 15px;
                }

                @media(max-width: 992px) {
                    width: 80%;

                    .QnA,
                    .customer {
                        display: none;
                    }
                }

                .header__search {
                    margin-right: 15px;
                    width: 100%;

                    form {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        width: 100%;

                        .search-key {
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid var(--textHeader);
                            padding: 10px 5px;
                            width: 100%;

                            &::placeholder {
                                color: var(--textHeader);
                            }
                        }

                        .buscar {
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid var(--textHeader);
                        }

                        .no-results {
                            padding: 10px;
                        }
                    }
                }

                .hm-content {
                    display: none;
                    margin-left: 30px;
                    margin-right: 5px;

                    .hm {
                        width: 26px;
                        height: 4px;
                        background-color: #000;
                        display: block;
                        margin-bottom: 3px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    @media(max-width: 992px) {
                        display: block;
                    }
                }
            }
        }
    }

    .header__content.bg-color {
        background-color: var(--bgHeader);
    }
}

.page-home .header {
    transition: .3s;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: transparent;
}