/**
 * Newsletter
 */
 .newsletter {
    background-color: var(--newsletterBg);
    padding: 30px 0;

    .flex-newsletter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        
        @media(max-width: 1199px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }

    .flex-text {
        width: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .icon-news {
            font-size: 40px;
            margin-right: 20px;
            color: var(--newsletterText);
        }

        .newsletter-text {
            font-size: 16px;
            font-weight: $regular;
            color: var(--newsletterText);
        }

        @media(max-width: 1199px) {
            text-align: center;
            width: 100%;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
            margin-bottom: 20px;

            .icon-news {
                display: none;
            }
        }
    }

    .form-content {
        width: 70%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .inp-news {
            width: 40%;
            margin-right: 10px;
            padding: 10px;
            border: none;
            border-bottom: 1px solid var(--newsletterText);
            color: var(--newsletterText);
            background-color: transparent;

            &::placeholder {
                color: var(--newsletterText);
            }

            @media(max-width: 580px) {
                width: 100%;
                margin: 0;
            }
        }

        .btn-news {
            width: 20%;
            background-color: var(--newsletterBtnBg);
            color: var(--newsBtnText);
            border: none;
            transition: .3s;

            &:hover {
                border-radius: 0 10px;
            }
        }

        @media(max-width: 1199px) {
            width: 100%;
        }

        @media(max-width: 580px) {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;

            .btn-news {
                width: 100%;
                margin-top: 20px;
                padding: 10px 0;
            }
        }
    }
}