.page-busca_noticias,
.page-noticia {
    .noticias li {
        margin-bottom: 30px;
    }

    .page-content {
        width: 1320px;
        margin: 0 auto;
        padding: 100px 10px;

        @media(max-width: 1399px) {
            width: 1140px;
        }
        @media(max-width: 1199px) {
            width: 960px;
        }
        @media(max-width: 991px) {
            width: 720px;
        }
        @media(max-width: 767px) {
            width: 540px;
        }
        @media(max-width: 575px) {
            width: 100%;
        }
    }
}

.page-busca_noticias {
    #listagemCategorias {
        text-align: center;
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: $bold;

        a {
            text-decoration: none;
            color: #000;
        }
    }

    .noticias {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        @media(max-width: 991px) {
            -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
        }

        li {
            margin: 0 10px;
            width: calc((100% / 3) - 20px);
            display: -webkit-box;
            display: -ms-flexbox;
                display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-bottom: 30px;

            @media(max-width: 991px) {
                width: calc((100% / 2) - 20px);
            }

            @media(max-width: 767px) {
                width: 100%;
            }

            #noticia_imagem {
                width: 100%;
                border-radius: 5px;
                overflow: hidden;
                transition: .5s;

                &:hover {
                    border-radius: 30px 30px 0;
                }

                img {
                    width: 100%;
                    transition: .3s;

                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }

            #noticia_dados {
                margin-top: 10px;
                padding: 10px;

                h3 {
                    font-size: 0;
                    margin-bottom: 10px;

                    a {
                        font-weight: $bold;
                        font-size: 20px;
                        color: #000;
                    }
                }

                p {
                    font-size: 16px;
                    line-height: 18px;
                }
            }
        }
    }
}

.news {
    .noticias {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        @media(max-width: 991px) {
            -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
        }

        li {
            display: none;

            &:nth-child(-n+3) {
                margin: 0 10px;
                width: calc((100% / 3) - 20px);
                display: -webkit-box;
                display: -ms-flexbox;
                    display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                @media(max-width: 991px) {
                    width: calc((100% / 2) - 20px);
                    margin:30px 0;
                    padding: 5px;
                }

                @media(max-width: 767px) {
                    width: 70%;
                }

                @media(max-width: 440px) {
                    width: 100%;
                }
            }

            a {
                display: block;
            }

            #noticia_imagem {
                width: auto;
                text-align: center;
                overflow: hidden;
                transition: .3s;
                // height: 250px;

                // &:hover {
                //     height: 400px;
                //     margin-bottom: -250px;
                //     z-index: 1;
                // }

                img {
                    width: 100%;
                }
            }

            #noticia_dados {
                margin: 0px 6px 6px 6px;
                padding: 20px 20px 30px;
                background-color: #fff;
                border-radius: 0 0 30px 30px;
                box-shadow: 0px 2px 10px -7px #000;

                @media(max-width: 1399px) {
                    margin: 0;
                }

                h3 {
                    font-size: 0;
                    margin-bottom: 10px;
                    @media(min-width: 1200px) {
                        white-space: nowrap;
                    }

                    a {
                        font-weight: $bold;
                        font-size: 20px;
                        color: #000;
                    }
                }

                p {
                    font-size: 16px;
                    // line-height: 18px;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    padding-bottom: 1px;
                }
            }
        }
    }

    .news__content{
        .noticias{
            margin-top: 50px;

        }
    }

    .more-news {
        text-align: center;

        .btn-news {
            margin-top: 48px;
            font-size: 15px;
            font-weight: $semiBold;
            background-color: var(--bgButton);
            color: var(--textButton);
            display: inline-block;
            padding: 20px;
            // border-radius: 30px 30px 0;
            text-decoration: none;
            transition: .3s;

            &:hover {
                border-radius: 0 10px;
            }
        }
    }
}

.page-noticia {
    h2 {
        font-size: 25px;
        font-weight: $bold;
    }

    .imagemNoticia {
        float: left;
        margin-right: 20px;
        @media(max-width: 991px) {
            float: none;
            margin: 40px auto 40px;
        }
    }

    .page-content {
        ol, ul {
            list-style: initial;
            margin-left: 20px;
        }
    }
}