.page-comparador {

    .comparador {
        border: none;
        text-align: center;
    }

    .page-content {
        background: #fff;
        margin-top: 30px;
        padding: 30px;

        h1 {
            color: #000;
            margin-bottom: 30px;
            text-transform: uppercase;
            @include typo(2.5rem, 400, $font, 2.5rem);
        }
    }

    .comparatorTabs {
        font-size: 0;
        margin: 0;

        &:after {
            clear: both;
            content: '';
            display: block;
        }

        li {
            float: left;
            margin: 0;
            padding-right: 10px;
            top: 0;
            background: #fff;
            border: none;

            &.aberta {

                a {
                    background: var(--bgButton);
                    border: none;
                    border-bottom: none;
                    color: var(--textButton);
                    font: 400 15px/35px $font;
                    padding: 6px 8px 5px;
                    text-transform: none;
                    text-decoration: none;

                    &.closeCat {
                        background: #fff;
                        border-radius: 20px;
                        border: 1px solid #3d4445;
                        color: #3d4445;
                        font-size: 11px;
                        height: 20px;
                        line-height: 20px;
                        padding: 0;
                        position: absolute;
                        right: 10px;
                        text-align: center;
                        top: 8px;
                        width: 20px;

                        &:hover {
                            background: red;
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        a {
            background: var(--seloDestaqueBg);
            border: none;
            color: var(--bgButton);
            font: 400 15px/35px $font;
            padding: 6px 8px 5px;
            text-decoration: none;

            &.closeCat {
                background: #fff;
                border-radius: 20px;
                border: 1px solid #3d4445;
                color: #3d4445;
                font-size: 11px;
                height: 20px;
                line-height: 20px;
                padding: 0;
                position: absolute;
                right: 10px;
                text-align: center;
                top: 8px;
                width: 20px;

                &:hover {
                    background: red;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    .comparator {
        border: none;
        font-size: 0;
        margin: 0 0 30px;

        .Labels {
            display: none;
        }

        >ul {
            font-size: 0;
            flex-wrap: wrap;
            overflow: hidden;
            padding: 0;

            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            // colums
            >li {
                border: none;
                padding: 10px 0 0 0;
                margin: 0;

                width: calc(100%/4);

                @media screen and (max-width: 1024px) {
                    width: calc(100%/3);
                }

                @media screen and (max-width: 768px) {
                    width: calc(100%/2);
                }

                @media screen and (max-width: 500px) {
                    width: calc(100%);
                }

                &:nth-child(2) {
                    border-left: none;
                }

                ul {

                    // rows
                    li {
                        display: block;
                        border: none;
                        font-size: 1.3rem;
                        padding: 10px;
                        background: #fff;
                        margin: 0;
                        padding: 5px 10px 0;

                        &:first-child {
                            border-top: none;
                        }

                        &.comparsionFoto {
                            border: none;
                            margin-bottom: 20px;

                            a[title="Comprar"] {

                                &:hover {
                                    color: var(--textButton);
                                }

                                &::before {
                                    content: "Comprar";
                                    background-color: var(--bgButton);
                                    color: var(--textButton);
                                    white-space: nowrap;
                                    text-transform: uppercase;
                                    padding: 4px 24px;
                                    border-radius: 20px
                                }
                            }

                            a[title="Escolher"] {

                                &:hover {
                                    color: var(--textButton);
                                }

                                &::before {
                                    content: "Escolher";
                                    background-color: var(--bgButton);
                                    color: var(--textButton);
                                    white-space: nowrap;
                                    text-transform: uppercase;
                                    padding: 6px 24px;
                                    border-radius: 20px
                                }
                            }

                            >a:first-child {
                                color: #3d4445;
                                display: block;
                                font-size: 1.4rem;
                                height: auto;
                                min-height: 170px;
                                text-align: center;

                                img {
                                    display: block;
                                    margin: 0 auto;
                                }
                            }

                            >div:nth-child(2) {
                                font-size: 1.4rem;
                                text-align: center;
                                margin-top: 20px;

                                img {
                                    display: none;
                                }
                            }

                            .closeComp {
                                background: #fff;
                                border-radius: 20px;
                                border: 1px solid #3d4445;
                                color: #3d4445;
                                font-size: 11px;
                                height: 20px;
                                line-height: 20px;
                                padding: 0;
                                position: absolute;
                                right: 10px;
                                text-align: center;
                                top: 8px;
                                width: 20px;
                            }
                        }

                        &.comparsionInfoPreco {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            // ranking
            .ranking {
                font-size: 0;
                line-height: 0;
                margin: 15px auto;
                width: 100px;

                .star0,
                .star1,
                .star2,
                .star3,
                .star4,
                .star5 {
                    background-image: url('../img/ranking.png');
                    background-repeat: no-repeat;
                    display: block;
                    float: none;
                    height: 15px;
                    width: 96px;
                }

                .star5 {
                    background-position: 0 0;
                }

                .star4 {
                    background-position: -20px 0;
                }

                .star3 {
                    background-position: -40px 0;
                }

                .star2 {
                    background-position: -60px 0;
                }

                .star1 {
                    background-position: -80px 0;
                }

                .star0 {
                    background-position: -100px 0;
                }
            }
        }
    }

    .container3 {
        .container2 {
            .board {
                .left {
                    text-align: center;
                }

                .right {
                    margin-top: 5px;
                    margin-left: 10px;
                    text-align: center;

                    .btn-primeira-pagina {
                        text-decoration: none;
                        color: var(--bgButton);

                        &:hover {
                            color: var(--productPrice);
                        }
                    }

                    .btn-pagina-anterior {
                        margin-right: 10px;
                        text-decoration: none;
                        color: var(--bgButton);

                        &:hover {
                            color: var(--productPrice);
                        }

                        &::before {
                            content: "-";
                            color: var(--bgButton);
                        }
                    }

                    .btn-proxima-pagina {
                        text-decoration: none;
                        color: var(--bgButton);

                        &:hover {
                            color: var(--productPrice);
                        }

                        &::after {
                            content: "-";
                            color: var(--bgButton);
                        }
                    }

                    .btn-ultima-pagina {
                        text-decoration: none;
                        color: var(--bgButton);

                        &:hover {
                            color: var(--productPrice);
                        }

                    }

                    .bgcolor {
                        display: none;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 480px) {

        .page-content {
            padding: 15px;
        }

        .comparatorTabs {

            li {
                display: block;
                float: none;
            }
        }

        .comparator>ul>li ul li {
            padding: 10px;
        }

        .comparator>ul>li ul li.comparsionDescricao {
            overflow-x: scroll;
        }
    }

}
