/**
* Page Register
**/

.page-register,
.page-cadastro_bloqueado{
    .page-content {
        padding: 50px 0;
        h1 {
            text-align: center;
            font-weight: $bold;
        }

        .Seguro {
            display: none;
        }

        .txt-dados-pessoais,
        .txt-dados-loja, .txt-dados-entrega {
            font-weight: $semiBold;
            font-size: 20px;
            text-align: center;
        }

        #CadastroAbas ul {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;

            li a {
                padding: 10px;
                background-color: var(--bgButton);
                color: var(--textButton);
                text-decoration: none;
                display: inline-block;
                margin: 0 10px 10px 0;
                border-radius: 30px;
                transition: .3s;

                &:hover {
                    border-radius: 30px 30px 0;
                }
            }
        }

        #frm2 {
            fieldset {
                width: 60%;
                margin: 0 auto;
                background-color: #fff;
                padding: 30px;
                margin-top: 15px;
                margin-bottom: 30px;
                border-radius: 20px 20px 0;
                box-shadow: 1px 1px 0px 0px #00000040;

                @media(max-width: 767px) {
                    width: 100%;
                }

                #fisica,
                #juridica {
                    margin-top: 20px;
                }
                #estado_cliente{
                    padding: 5px;
                    border: 1px solid #e2e2e2;
                    border-radius: 6px;
                    margin: 10px 0px 5px;
                }
            }

                label {
                    width: 100%;
                    margin-bottom: 15px;
                    font-size: 15px;

                    input.text {
                        width: 100%;
                        padding: 10px;
                        margin: 10px 0px 5px;
                        border: 1px solid #ddd;
                        border-radius: 6px;
                        transition: .3s;

                        &:focus {
                            border-radius: 20px 20px 0;
                            border: 1px solid #888;
                        }
                    }
                }
            }

            .termContainerRegister {
                text-align: center;

                .botao-commerce {
                    background-color: var(--bgButton);
                    color: var(--textButton);
                    padding: 14px 50px;
                    border-radius: 0 10px;
                    font-size: 15px;
                    font-weight: $semiBold;
                    transition: .3s;

                    &:hover {
                        border-radius: 0 10px;
                    }
                }
            }
        }
    }