.catalog {
    padding: 50px 0;

    .catalog__flex {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .catalog__filter {
        width: 25%;
    }

    .catalog__showcase {
        width: 75%;

        .flex-showcase-components {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin-left: 20px;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 20px 20px 0;
            flex-wrap: wrap;

            @media(max-width: 991px) {
                margin-left: 0;
            }

            .category-name {
                font-weight: $bold;
                font-size: 25px;
                font-family: $fontStyle;

                @media(max-width: 991px) {
                    display: none;
                }
            }

            .btn-compare {
                background-color: var(--bgButton);
                color: var(--textButton);
                padding: 6px 10px;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    color: var(--textButton);
                    text-decoration: none;
                    text-transform: uppercase;
                }
            
                @media(max-width: 1024px) {
                    padding: 6px 8px 5px;
                    font-size: 12px;
                }
            }

            .form-ordenation {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                .order {
                    margin-right: 10px;
                    white-space: nowrap;
                }

                @media(max-width: 390px) {
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;

                    .order {
                        margin-right: 0;
                        margin-bottom: 5px;
                    }
                }

                .select-filter {
                    padding: 10px 25px;
                    border: 1px solid #ddd;

                    @media(max-width: 480px) {
                        padding: 10px;
                    }
                }
            }

            .mobile-filter {
                font-weight: $bold;
                cursor: pointer;
                color: var(--textButton);
                background-color: var(--bgButton);
                padding: 9px 10px 7px;
                border-radius: 15px 15px 0;
                display: none;

                @media(max-width: 991px) {
                    display: block;
                }
            }
        }
    }

    @media(max-width: 1199px) {
        .catalog__filter {
            width: 30%;
        }
    
        .catalog__showcase {
            width: 70%;
        }
    }

    @media(max-width: 991px) {
        .catalog__filter {
            width: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            padding: 20px 20%;
            background-color: #000000d4;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
            z-index: -1;
        }

        .catalog__filter.open {
            opacity: 1;
            visibility: visible;
            z-index: 2;
        }
    
        .catalog__showcase {
            width: 100%;
        }
    }

    @media(max-width: 550px) {
        .catalog__filter {
            padding: 20px 5%;
        }
    }

    .breadcrumb-content {
        margin-bottom: 20px;
    }
}