.product-breadcrumb {
    padding: 15px;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #fff;
    border-radius: 30px 30px 0;
}

.product-content {
    margin: 20px auto;
    border-radius: 20px 20px 0;

    .product-content__flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        @media(max-width: 991px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .colum-prod-photo,
        .colum-prod-info {
            width: 48%;

            @media(max-width: 991px) {
                width: 100%;
            }
        }

        .colum-prod-photo {

            .content-image {
                .content-image__full {
                    background-color: #fff;
                    margin-bottom: 20px;
                    max-width: 100%;
                    width: 100%;
                    border-radius: 20px 20px 0;
                    border-bottom: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                }

                .content-image__carrossel {
                    position: relative;

                    .slider-prev,
                    .slider-next {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        border: none;
                        padding: 0;
                        color: var(--textButton);
                        background-color: var(--bgButton);
                        width: 30px;
                        height: 30px;
                        font-size: 20px;
                        border-radius: 50%;
                    }

                    .slider-prev {
                        left: 0;
                    }

                    .slider-next {
                        right: 0;
                    }

                    .thumb {
                        border-radius: 20px 20px 0;
                        background-color: #fff;
                        cursor: pointer;
                        margin-right: 8px;
                        border-bottom: 1px solid #ddd;
                        border-right: 1px solid #ddd;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .colum-prod-info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            @media(max-width: 991px) {
                margin-top: 50px;
            }

            .prod-seal {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;

                .seal {
                    padding: 7px 10px;
                    border-radius: 10px 10px 0;
                    display: block;
                    margin: 5px;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: $bold;
                }

                .destaque-seal {
                    background-color: var(--seloDestaqueBg);
                    color: var(--seloDestaqueText);
                }

                .lancamento-seal {
                    background-color: var(--seloNovosBg);
                    color: var(--seloNovosText);
                }

                .frete-gratis-seal {
                    background-color: var(--seloShippingBg);
                    color: var(--seloShippingText);
                }
            }

            .ranking-content {
                margin-top: 15px;
                margin-bottom: 5px;

                .fa-star {
                    color: #e2a600;
                }
            }

            .contador-promotion {
                width: 100%;
                background-color: var(--bgHeader);
                color: var(--textHeader);
                margin: 0 0 20px;
                border-radius: 15px 15px 0;
                overflow: hidden;

                .content {
                    width: 100%;

                    .message-promo-flex {
                        text-align: center;
                        padding: 15px;

                        h6 {
                            font-size: 20px;
                            text-transform: uppercase;
                            font-weight: $bold;
                            margin-bottom: 15px;

                            @media(max-width: 500px) {
                                font-size: 16px;
                            }
                        }
                    }

                    .contador-flex {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        width: 100%;

                        .promo-item {
                            font-size: 15px;
                            font-weight: $bold;
                            width: calc(100% / 4);
                            text-align: center;
                            padding: 5px;

                            @media(max-width: 500px) {
                                width: calc(100% / 2);
                            }

                            span {
                                background-color: var(--bgMenu);
                                color: var(--textMenu);
                                padding: 10px;
                                border-radius: 30px;
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }

                .promotion-off-content {
                    background-color: var(--bgMenu);
                    color: var(--textMenu);
                    text-align: center;
                    padding: 15px;
                    font-size: 20px;
                    font-weight: $bold;
                    text-transform: uppercase;
                }
            }

            .prod-name {
                text-align: center;
                margin-bottom: 5px;
                font-weight: $bold;
                font-size: 25px;
                text-transform: uppercase;
            }

            .details-content {
                margin-bottom: 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;

                .dados-valor {
                    margin-right: 10px;
                    margin-left: 2px;
                }
            }

            .desc-simplificada {
                margin-bottom: 20px;
                text-align: center;
            }

            .price-content {
                margin-bottom: 20px;
                text-align: center;

                .price,
                .price-promotion {
                    font-size: 35px;
                    font-weight: $bold;
                    color: var(--productPrice);
                }

                .price.preco-cut {
                    color: #aa6464;
                    font-size: 13px;
                    text-decoration: line-through;
                }

                .parcelamento {
                    font-weight: $semiBold;
                    margin-top: 5px;
                    font-size: 12px;
                    color: #999;
                }
            }

            .variants-content {

                .passo1,
                .cor_variacao.passo2 {
                    text-align: center;

                    .varTit.onVar,
                    .varCont.border-tone-1 {
                        text-align: center;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                        font-weight: bold;
                        font-size: 15px;
                    }

                    select#second_dropdown,
                    select#variation_first_select {
                        padding: 10px;
                        border-radius: 30px 30px 0;
                        border: 1px solid #ccc;
                    }

                    .texto_variacao {
                        h2 {
                            font-size: 15px;
                            font-weight: $bold;
                            text-transform: uppercase;
                            text-align: center;
                            margin-bottom: 10px;
                        }

                        #cor_nome {
                            display: none;
                        }
                    }

                    .lista_cor_variacao {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;

                        li {
                            margin: 5px;

                            div,
                            img {
                                box-shadow: 0 0 1px 3px #ddd;
                                width: 32px;
                                height: 32px;
                                display: block;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                transition: .3s;
                                padding: 2px;
                                font-weight: $bold;
                            }

                            div.cor_selecionada,
                            img.cor_selecionada {
                                box-shadow: 0 0 1px 3px #000;
                                border-radius: 20px 20px 10px;
                            }
                        }
                    }
                }
            }

            .product-add-information {
                text-align: center;

                .productAdditionalInformation {
                    input {
                        border-radius: 30px;
                        border: 1px solid #ccc;
                        font-size: 15px;
                        width: 50%;
                        transition: .3s;
                        padding: 10px 40px;

                        @media screen and (max-width: 500px) {
                            width: 100%;
                        }

                        &:focus {
                            border: 1px solid #000;
                        }
                    }
                }

                .productAdditionalInformation strong {
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                #menuVars {
                    text-align: center;
                }

                .varTit {
                    margin-bottom: 10px;
                }

                .varCont {
                    margin-bottom: 20px;

                    #ia_complemento {
                        display: block;
                    }
                }

                .varCont>* {
                    font-weight: 600;
                    padding-top: 10px;
                    font-size: 12px;
                    color: #999;

                    .select {
                        border-radius: 30px;
                        border: 1px solid #ccc;
                        font-size: 15px;
                        width: 50%;
                        transition: .3s;
                        padding: 10px 40px;
                        background-color: #fff;

                        &:focus {
                            border: 1px solid #000;
                        }

                        @media screen and (max-width: 500px) {
                            width: 100%;
                        }
                    }

                    .textarea {
                        border-radius: 5px;
                        border: 1px solid #ccc;
                        font-size: 15px;
                        width: 100%;
                        transition: .3s;
                        resize: none;
                        padding: 10px;

                        &:focus {
                            border: 1px solid #000;
                        }
                    }
                }
            }

            .frete-content {
                margin-top: 50px;

                @media(max-width: 500px) {
                    width: 100%;
                }

                .cepbox-text {
                    text-align: center;
                    font-weight: $bold;
                    font-size: 15px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                label[for] {
                    display: none;
                }

                input.text {
                    padding: 10px 40px;
                    font-size: 15px;
                    border: 1px solid #ccc;
                    text-align: center;
                    transition: .3s;
                    border-radius: 30px;

                    &:focus {
                        border: 1px solid #000;
                    }
                }

                .botao-simular-frete {
                    display: inline-block;
                    font-size: 0;
                    background-color: var(--bgButton);
                    color: var(--textButton);
                    font-weight: $semiBold;
                    text-align: center;
                    margin-left: 10px;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 12px 20px;
                    transition: .3s;
                    border-radius: 30px;

                    &::after {
                        content: "Calcular";
                        font-size: 15px;
                    }

                    &:hover {
                        border-radius: 30px 30px 0;
                    }
                }

                @media(max-width: 1199px) {
                    .botao-simular-frete {
                        width: 100%;
                        margin-left: 0;
                        margin-top: 10px;
                    }

                    input.text {
                        width: 48%;
                    }
                }

                @media(max-width: 360px) {
                    #cep1 {
                        margin-right: 2%;
                    }

                    .cepbox {
                        font-size: 0;
                    }
                }
            }

            .buy-content.upon-request {
                .botao_tire_duvidas {
                    display: block;
                    background-color: var(--bgButton);
                    color: var(--textButton);
                    font-weight: 600;
                    text-align: center;
                    margin-left: 10px;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 12px 20px;
                    transition: .3s;
                    border-radius: 30px;
                }

                #showPaymentMethods,
                .botao-sob-consulta {
                    display: none;
                }
            }

            .buy-content {
                width: 100%;

                .qtde-content {
                    margin-top: 20px;
                }

                .flex-qtde-buy {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;

                    @media(max-width: 1199px) {
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                    }

                    #quantidade {
                        width: 30%;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;

                        @media(max-width: 1199px) {
                            width: 75%;
                            margin-bottom: 15px;
                        }

                        @media(max-width: 500px) {
                            width: 100%;
                        }

                        #plus,
                        #minus {
                            border: 0;
                            background-color: var(--bgButton);
                            color: var(--textButton);
                            margin: 0 10px;
                            width: 30px;
                            height: 30px;
                            transition: .3s;

                            &:hover {
                                border-radius: 50%;
                            }
                        }

                        #plus {
                            border-radius: 30px 30px 10px;
                        }

                        #minus {
                            border-radius: 10px 30px 30px;
                        }

                        #quant {
                            text-align: center;
                            padding: 15px 10px;
                            border-radius: 30px;
                            border: 1px solid #ccc;
                            font-size: 15px;
                            width: 50%;
                            transition: .3s;

                            @media(max-width: 1199px) {
                                padding: 10px;
                            }

                            &:focus {
                                border: 1px solid #000;
                            }
                        }
                    }

                    .btn-buy {
                        background-color: var(--bgButton);
                        color: var(--textButton);
                        border: 0;
                        padding: 13px 30px;
                        border-radius: 30px;
                        text-transform: uppercase;
                        font-weight: $bold;
                        font-size: 15px;
                        transition: .3s;
                        width: 50%;

                        @media(max-width: 1199px) {
                            width: 70%;
                        }

                        @media(max-width: 500px) {
                            width: 100%;
                        }

                        &:hover {
                            border-radius: 50px 50px 0;
                        }
                    }
                }
            }
        }
    }
}

.video-content {
    margin-top: 50px;

    .title {
        text-align: center;
        font-weight: $bold;
        font-size: 35px;
        margin-bottom: 20px;
    }

    .video-content__responsive {
        width: 100%;
        max-width: 100%;
        height: 450px;
        display: block;
        border-radius: 30px 30px 0;

        @media(max-width: 991px) {
            height: 350px;
        }
    }
}

.product-tabs {
    padding-top: 50px;
    padding-bottom: 50px;

    .abasProduto.tab-panel {
        .list-tabs {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            li {
                margin-bottom: 5px;

                a {
                    padding: 15px 30px;
                    background-color: var(--bgButton);
                    margin-right: 10px;
                    color: var(--textButton);
                    display: block;
                    border-radius: 30px;
                    transition: .3s;
                    font-size: 15px;
                    font-weight: $bold;
                    text-transform: uppercase;
                    text-decoration: none;

                    &:hover {
                        border-radius: 30px 30px 0;
                    }
                }
            }
        }
    }

    #coments {
        h2 {
            font-size: 22px;
            font-weight: $bold;
            text-transform: uppercase;

            @media(max-width: 500px) {
                font-size: 16px;
            }
        }

        .tray-hide {
            display: none;
        }

        .hreview-comentarios {
            width: 100%;

            .reviewer {
                margin-bottom: 10px;
                display: block;

                h3 {
                    font-weight: $bold;
                    font-size: 18px;
                }
            }

            .ranking {
                display: inline-block;
                background-color: var(--bgButton);
                color: var(--textButton);
                padding: 5px 20px;
                border-radius: 30px;
                margin-bottom: 15px;
                font-size: 10px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    .prodBox {
        background-color: #ffffff;
        margin-top: 20px;
        border-radius: 20px 20px 0;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding: 30px;

        .board_htm {
            width: initial;
            margin: initial;
            padding: initial;

            p {
                font-size: 16px;
                line-height: 18px;
            }
        }

        .board ul li:first-child {
            margin-top: 0 !important;
        }

        #comentario_cliente {
            #form-comments {
                margin-bottom: 20px;

                .tray-hide {
                    display: none;
                }

                label {
                    width: 100%;
                    margin-bottom: 20px;

                    h3 {
                        font-size: 15px;
                    }

                    input[type="text"] {
                        width: 100%;
                        border: 1px solid #999;
                        padding: 10px;
                        margin-top: 5px;
                        border-radius: 10px 10px 0;
                    }

                    input[type="checkbox"] {
                        width: auto;
                    }

                    .textarea {
                        width: 100% !important;
                        border: 1px solid #999;
                        border-radius: 15px 15px 0;
                        padding: 10px;
                    }
                }

                .rateBlock .stars {
                    .starn {
                        margin-bottom: 20px;
                        display: inline-block;
                        margin-right: 10px;
                        cursor: pointer;

                        &::before {
                            content: "\f005";
                            font-family: "Font Awesome 5 Free";
                            color: #ffa600;
                            font-size: 18px;
                            font-weight: $regular;
                        }
                    }

                    .starn.star-on {
                        &::before {
                            content: "\f005";
                            font-family: "Font Awesome 5 Free";
                            color: #ffa600;
                            font-size: 18px;
                            font-weight: $bold;
                        }
                    }
                }
            }

            a[data-logged-user="false"] {
                background-color: var(--bgButton);
                color: var(--textButton);
                padding: 15px 20px;
                display: inline-block;
                border-radius: 30px;
                text-decoration: none;
                transition: .3s;

                &:hover {
                    border-radius: 30px 30px 0;
                }
            }
        }
    }

    #formasPagto,
    [data-tab-container-id="#formasPagto"] {
        display: none !important;
    }
}

.related-products {
    margin-bottom: 50px;
}

.page-product {
    #div_atualiza {
        height: 350px;
        overflow: auto;

        form {

            label,
            input,
            textarea,
            select,
            #spanTextarea {
                width: 100%;
            }

            label input,
            label textarea,
            label select {
                border: 1px solid #ccc;
                border-radius: 30px;
                margin-bottom: 10px;
                margin-top: 3px;
                padding: 8px;
            }

            .image.perguntasProdutoBTimg {
                color: var(--textButton);
                background-color: var(--bgButton);
                border-radius: 30px;
            }
        }
    }
}