// CARROSSEL DE DESTAQUE
.destaque,
.novidades,
.promocoes,
.carrosse-categories {
    margin-top: 20px;

}
.carrosse-categories{
    .showcase-banner{
        margin-top: 50px;
        background-color: var(--bgVitCategorias);
        padding: 50px 0;
    }
}
.destaque, .novidades, .promocoes{
    .showcase__title{
        margin-bottom: 1px;
    }
}
.banner-triplo{
    margin-top: 70px;
}
.showcase-content.normal-grid.product-carrossel{
    margin-top: 10px;
}
.showcase {
    .showcase-content {
        .glider-track {
            margin: 10px 0;
        }

        .product {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            height: 100%;
            position: relative;

            .product-image {
                margin-bottom: 15px;
            }
        }

        .showcase-content__item {
            padding: 10px;
            transition: .3s;

            a {
                text-decoration: none;
            }

            .product-name {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: $bold;
            }

            .product-payment {
                display: none;
            }

            .product-name {
                color: var(--productText);
            }

            .btn-comprar {
                white-space: nowrap;
                color: var(--textButton);
                background-color: var(--bgButton);
                text-transform: uppercase;
                padding: 18px;
                transition: .3s;
                // font-family: $fontStyle;
                font-weight: $semiBold;
                font-size: 18px;
                width: 100%;
                text-align: center;
                margin-top: 10px;
                //position: absolute;
                //bottom: 0;
               // left: 0;
                //opacity: 1;
               // visibility: visible;
                //transition: .3s;
                //margin-bottom: 0;

                &:hover {
                    .btn-comprar {
                        border-radius: 0 10px;
                        transition: .3s;
                //         opacity: 1;
                //         visibility: visible;
                //         margin-bottom: initial;
                    }
                }
            }

            @media(max-width: 992px) {
                .btn-comprar {
                    position: initial;
                    bottom: 0;
                    left: initial;
                    opacity: 1;
                    visibility: visible;
                    margin-bottom: 0;
                }
            }

            .price-various {
                margin-right: 5px;
            }

            .price-before.strike {
                font-size: 0;

                .currency,
                span {
                    text-decoration: line-through;
                }
            }

            .currency {
                text-decoration: none;
            }

            .ranking-content {
                margin-top: 10px;
                display: block;

                .fa-star {
                    color: var(--bgButton);
                    margin-right: 5px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .product-price {
                margin: 10px 0;

                .btn-consulta {
                    font-weight: bold;
                    text-transform: uppercase;
                    display: block;
                    color: #555;
                }

                .prices {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;

                    .price-promotion {
                        margin-left: 5px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;

                        .por-price {
                            font-size: 15px;
                            margin-right: 5px;
                        }
                    }
                }
            }

            .price-off,
            .prices {
                font-size: 0;

                .currency,
                span {
                    font-weight: $regular;
                    font-size: 15px;
                    color: var(--productPrice);
                }
            }

            .prod-seal,
            .promotion-seal {
                position: absolute;
                top: 10px;
            }

            .prod-seal {
                right: 10px;
            }

            .promotion-seal {
                left: 10px;
            }

            .seals,
            .discount {
                display: block;
                padding: 7px;
                margin-bottom: 5px;
                text-transform: uppercase;
                font-size: 11px;
                text-align: center;
                color: #fff;
            }

            .new-seal {
                background-color: var(--seloNovosBg);
                color: var(--seloNovosText);
            }

            .free_shipping-seal {
                background-color: var(--seloShippingBg);
                color: var(--seloShippingText);
            }

            .featured-seal {
                background-color: var(--seloDestaqueBg);
                color: var(--seloDestaqueText);
            }

            .discount {
                background-color: var(--seloDescontoBg);
                color: var(--seloDescontoText);
            }
        }
    }
}

.showcase.grid {
    .showcase-content.normal-grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            // margin-top: 10px;

        .showcase-content__item {
            width: calc(100% / 4);

            @media(max-width: 1199px) {
                width: calc(100% / 3);
            }

            @media(max-width: 991px) {
                width: calc(100% / 2);
            }

            @media(max-width: 580px) {
                width: 100%;
            }
        }
    }

    .showcase-content.less-product {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        .showcase-content__item {
            width: calc(100% / 4);
        }
    }
}

.showcase.catalog {
    padding: 0;

    .showcase-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

        @media(max-width: 991px) {
            margin-left: -10px;
            margin-right: -10px;
        }

        .showcase-content__item {
            width: calc(100% / 3);
            margin-bottom: 20px;
            padding: 0;
            padding-left: 20px;

            @media(max-width: 1199px) {
                width: calc(100% / 2);
            }

            @media(max-width: 991px) {
                padding: 0 10px;
            }

            @media(max-width: 480px) {
                padding: 0 10px;
                width: 100%;
            }
        }
    }
}

.showcase-banner {
    background-color: var(--bgVitCategorias);
    padding: 50px 0;

    .showcase-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        .showcase-text-content {
            width: 20%;
            margin-right: 80px;

            .showcase__title {
                font-weight: $bold;
            }

            .showcase__text {
                text-align: center;
                font-size: 16px;
            }
        }

        .showcase-carrossel-content {
            width: 70%;
        }

        @media(max-width: 991px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;

            .showcase-text-content,
            .showcase-carrossel-content {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}