.reviews {
    padding: 35px;

    .dep_lista {
        margin-top: 25px;

        .dep_item {
            padding: 30px;
            background-color: #fff;
            box-shadow: 0 4px 10px -7px #000;
            margin: 20px 10px;
            border-radius: 30px;

            @media(max-width: 580px) {
                padding: 30px;
            }

            .dep_dados {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-orient: vertical;
                    -webkit-box-direction: reverse;
                        -ms-flex-direction: column-reverse;
                            flex-direction: column-reverse;
                text-align: center;
                position: relative;

                &:before {
                    content: "\f10d";
                    font-weight: bold;
                    font-family: $fontIcon;
                    position: absolute;
                    color: var(--bgHeader);
                    top: 0;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                }

                .dep_nome {
                    font-size: 16px;
                    font-weight: $bold;
                    font-style: italic;
                    font-family: $fontStyle;

                    span {
                        display: none;
                    }
                }

                .dep_nota {
                    display: none;
                }

                .dep_msg {
                    font-size: 16px;
                    margin: 20px 0;
                    span {
                        display: none;
                    }
                }

                .dep_data {
                    display: none;
                }
            }
        }
    }

    .dep_link {
        display: none;
    }

    .mais-dep {
        font-size: 0;
        text-align: center;
        margin-top: 30px;

        a {
            font-size: 15px;
            font-weight: bold;
            padding: 15px 30px;
            background-color: var(--bgButton);
            color: var(--textButton);
            display: inline-block;
            transition: .3s;
            text-decoration: none;

            &:hover {
                border-radius: 0 10px;
            }
        }
    }
}