<section class="main-banner">
	{% if banner.home %}
			<div class="banner-carrossel">
				<div class="carrossel-init-desk control">
					{% for slide in banners.home.slides %}
						<a href="{{ slide.link ? slide.link : 'javascript:;' }}">
							<img class="main-banner__image" src="{{ slide.image }}" alt="{{ slide.label }}" width="1920">
						</a>
					{% endfor %}
				</div>
			</div>
	{% endif %}
	
	{% if banner.extra1 %}
		<div class="banner-carrossel-mb">
			<div class="carrossel-init-mb control">
				{% for slide in banners.extra1.slides %}
					<a href="{{ slide.link ? slide.link : 'javascript:;' }}">
						<img class="main-banner__image" src="{{ slide.image }}" alt="{{ slide.label }}" width="992">
					</a>
				{% endfor %}
			</div>
		</div>
	{% endif %}
</section>