<section class="main-banner">
	{% if banner.home %}
	<div class="banner-carrossel desk control">
		<div class="init">
			{% for slide in banners.home.slides %}
			<a href="{{ slide.link ? slide.link : 'javascript:;' }}">
				<img class="main-banner__image" src="{{ slide.image }}" alt="{{ slide.label }}">
			</a>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	{% if banner.extra1 %}
	<div class="banner-carrossel-mb control">
		<div class="init">
			{% for slide in banners.extra1.slides %}
			<a href="{{ slide.link ? slide.link : 'javascript:;' }}">
				<img class="main-banner__image" src="{{ slide.image }}" alt="{{ slide.label }}">
			</a>
			{% endfor %}
		</div>
	</div>
	{% endif %}
</section>