<section class="banner-triplo container">
    <div class="carrossel-init">
        {% if banner.extra2 %}
        <a href="{{ banners.extra2.link ? banners.extra2.link : 'javascript:;' }}">
            <img class="image-banner" src="{{ banners.extra2.src }}">
        </a>
        {% endif %}
        {% if banner.extra3 %}
        <a href="{{ banners.extra3.link ? banners.extra3.link : 'javascript:;' }}">
            <img class="image-banner" src="{{ banners.extra3.src }}">
        </a>
        {% endif %}
        {% if banner.extra4 %}
        <a href="{{ banners.extra4.link ? banners.extra4.link : 'javascript:;' }}">
            <img class="image-banner" src="{{ banners.extra4.src }}">
        </a>
        {% endif %}
    </div>
</section>