<section class="banner-duplo container">
    <div class="banner-duplo__content">
        {% if banner.extra7 %}
            <a href="{{ banners.extra7.link ? banners.extra7.link : 'javascript:;' }}">
                <img src="{{ banners.extra7.src }}">
            </a>
        {% endif %}
        {% if banner.extra8 %}
            <a href="{{ banners.extra8.link ? banners.extra8.link : 'javascript:;' }}">
                <img src="{{ banners.extra8.src }}">
            </a>
        {% endif %}
    </div>
</section>