<div class="breadcrumb-content">
	<div class="breadcrumb__flex">
		<span class="breadcrumb__item"><a href="{{ links.home }}">Pagina Inicial</a> <span class="slash"> / </span></span>
		{% if breadcrumb %}
			{% for item in breadcrumb %}
				<span class="breadcrumb__item"> <a href="{{ item.link}}" title="{{ item.name }}">{{ item.name|length > 45 ? item.name[0:45] ~ '...' : item.name }}</a> <span class="slash"> / </span></span>
			{% endfor %}
		{% endif %}
		{% if pages.current == 'product' %}
			<span class="breadcrumb__item breadcrumb__item--selected">{% if product.name %}{{ product.name|length > 45 ? product.name[0:45] ~ '...' : product.name }}{% else %} {{ search.word }} {% endif %}</span>
		{% else %}
			<span class="breadcrumb__item breadcrumb__item--selected">{% if category.name %}{{ category.name|length > 45 ? category.name[0:45] ~ '...' : category.name }}{% else %} {{ search.word }} {% endif %}</span>
		{% endif %}
	</div>
</div>

{{ item.name|length > 45 ? item.name[0:45] ~ '...' : item.name }}