{% set loopMais = 5 %}
<nav class="menu">
    <ul class="menu__content container {{ categories|length < 5 ? 'flex-center' : 'flex-between' }}">
        {% for category in categories %}
        {% if loop.index <= loopMais %} {% set children=category.children %} <li class="item-category">
            <a class="lvl-item" href="{{ category.link }}">
                <img class="icon-category" src="{{ category.images[0] }}"
                    style="{{ category.images[0] ? 'display: inline;' : 'display: none;' }}">
                <span class="first">{{ category.name }}</span>
                {% if children %} <i class="fas fa-chevron-down first-lvl-dropdown"></i> {% endif %}
            </a>
            {% if children %}
            <div>

            </div>
            <ul class="drop-content-first-lvl">
                <div class="flex-menu-prod">
                    {% for child in children %}
                    <li class="item-category-second">
                        <a class="lvl-item" href="{{ child.link }}">
                            {{ child.name }}
                        </a>
                        {% if child.children %}
                        <i class="fas fa-chevron-down second-lvl-dropdown"></i>
                        <ul class="drop-content-second-lvl">
                            {% for child in child.children %}
                            <li class="item-category-third">
                                <a class="lvl-item" href="{{ child.link }}">{{ child.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </div>
                {% set productCategory = Products({ 'filter': ['new', 'available'], 'limit': 1, 'order':
                {'quantity_sold': 'desc'}, categories: category.id }) %}
                {% if productCategory %}
                <div class="prod-menu">
                    {% element 'snippets/show-nav' { "products": productCategory } %}
                </div>
                {% endif %}
            </ul>
            {% endif %}
            </li>
            {% endif %}
            {% endfor %}
            {% if categories|length > loopMais %}
            <li class="more-categories">
                <a href="javascript:;" class="link-more-cat">
                    <img class="icon-category" src="{{ asset('img/mais-categorias.png') }}">
                    <div class="first">Mais categorias <i class="fas fa-chevron-down"></i></div>
                </a>
                {% set filterCategory = [] %}
                <ul class="more-categories__list">
                    {% for list in categories %}
                    {% if loop.index > loopMais %}
                    <li class="more-categories__item {% if list.children %} dropdown {% endif %}">
                        {% if list.children %}
                        <a href="{{ list.link }}">{{ list.name }}</a> <i class="fas fa-chevron-down"></i>
                        <ul class="more-categories__drop">
                            {% for subList in list.children %}
                            <li>
                                <a href="{{ subList.link }}">
                                    {{ subList.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <a href="{{ list.link }}">{{ list.name }}</a>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
    </ul>
</nav>