<div itemid="{{ product.id }}" class="product{{ product.has_other_prices ? ' has-other-prices' }}">
    <div class="prod-seal">
        {% if product.new %}
            <span class="seals new-seal">Lançamento</span>
        {% endif %}
        {% if product.featured %}
            <span class="seals featured-seal">Destaque</span>
        {% endif %}
        {% if product.free_shipping %}
            <span class="seals free_shipping-seal">Frete Grátis</span>
        {% endif %}
    </div>
    <div class="promotion-seal">
        {% if product.price_offer > 0 %}
            {% set porcentagemDesconto = 100 - ( product.price_offer / product.price ) * 100 %}
            {% if porcentagemDesconto < 100 %}
                <span class="discount"> {{ porcentagemDesconto|number_format }}% OFF </span>
            {% endif %}
        {% endif %}
    </div>
    <a href="{{ product.link }}" data-tray-tst="vitrine_produto_link_imagem">
        <div class="product-image">
            {% if product.images %}
                <img width="500" itemprop="image" onmouseover="secondPhoto(this)" data-photo="{% if product.images[1].full %} {{ product.images[1].full }} {% else %} {{ product.images[0].full }} {% endif %}" src="{{ product.images[0].full }}" alt="{{ product.name }}" title="{{ product.name }}">
            {% else %}
                <img width="500" src="{{ asset('img/no-image.svg') }}" alt="Nenhuma imagem foi cadastrada" width="100" title="{{ product.name }}">
            {% endif %}
        </div>

        <div class="product-name" itemprop="name">{{ product.name|length > 25 ? product.name[0:25] ~ '...' : product.name }}</div>

        <span class="ranking-content">
            {% set ranking = product.ranking %}
            <span class="ranking">
                {% if ranking.rating > 0 %}
                    {% for star in 1..ranking.rating %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                    {% if ranking.rating < 5 %}
                        {% set emptystar = 5 - ranking.rating %}
                        {% for i in 1..emptystar %}
                            <i class="far fa-star"></i>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </span>
        </span>

        <meta itemprop="productID" content="{{ product.id }}"/>
        <meta itemprop="sku" content="{{ product.id }}"/>
        {% if product.ean %}
            <meta itemprop="gtin14" content="{{ product.ean }}">
        {% endif %}

        {% if product.description_small %}
            <meta itemprop="description" content="{{ product.description_small }}">
        {% endif %}

        {% if product.brand %}
        <span itemprop="brand" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="{{ product.brand }}"/>
        </span>
        {% endif %}


        {% for discount in product.ProgressiveDiscounts %}
        {% if discount.tag %}
            <div class="product-discount-recursive-tag">{{discount.tag}}</div>
            <div class="product-discount-recursive-desc">{{discount.description}}</div>
        {% endif %}
    {% endfor %}

        {% if settings.cache_infopreco %}
        <div data-module="pricing" data-snippet="snippets/product-payment" data-product-id="{{ product.id }}">
            <div class="pricing">
                Carregando...
            </div>
        </div>
        {% else %}
            {% element 'snippets/product-payment' {"product": product } %}
        {% endif %}

    </a>

    {% if pages.current == 'catalog' and settings.compare %}
    <div class="compare-buttons">
        {% set compareCSS = 'compare-hidden' %}

        <!-- <a data-compare="remove" href="{{ links.compare_delete ~ product.id }}" class="{{ not product.compare ? compareCSS }}">
            <span class="filter-checkbox checked"</span>
            {{ Translation("remover_comparar") }}
        </a> -->

        <a data-compare="add" href="{{ links.compare_add  ~ product.id }}" class="{{ product.compare ? compareCSS }}">
            <span class="filter-checkbox"></span>
            {{ Translation("comparar_produto") }}
        </a>
    </div>
    {% endif %}
    {% if not product.upon_request %}
        <a class="btn-comprar" href="{{ product.link }}" alt="comprar">Comprar</a>
    {% endif %}
</div>

<script>
    function secondPhoto(element) {
        var secondImage = element.dataset.photo;
        var atualPhoto = element.getAttribute('src');
        element.setAttribute('src', secondImage);

        element.addEventListener('mouseleave', e => {
            element.setAttribute('src', atualPhoto);
        });
    }
</script>