<ul class="social-media">
    {% if settings.socialFacebook %}
        <li class="social-media__item">
            <a href="{{ settings.socialFacebook }}" target="_blank">
                <i class="social-icon fab fa-facebook-f facebook"></i></i>
            </a>
        </li>
    {% endif %}
    {% if settings.socialTwitter %}
        <li class="social-media__item">
            <a href="{{ settings.socialTwitter }}" target="_blank">
                <i class="social-icon fab fa-twitter twitter"></i></i>
            </a>
        </li>
    {% endif %}
    {% if settings.socialInstagram %}
        <li class="social-media__item">
            <a href="{{ settings.socialInstagram }}" target="_blank">
                <i class="social-icon fab fa-instagram instagram"></i>
            </a>
        </li>
    {% endif %}
    {% if settings.socialPinterest %}
        <li class="social-media__item">
            <a href="{{ settings.socialPinterest }}" target="_blank">
                <i class="social-icon fab fa-pinterest-p pinterest"></i>
            </a>
        </li>
    {% endif %}
    {% if settings.socialYoutube %}
        <li class="social-media__item">
            <a href="{{ settings.socialYoutube }}" target="_blank">
                <i class="social-icon fab fa-youtube youtube"></i>
            </a>
        </li>
    {% endif %}
</ul>