<div class="regua">
    <div class="container">
        <div class="control">
            <div class="regua-carrossel">
                <div class="regua__item">
                    {% if settings.reguaIconeUm %}
                        <img class="regua__image" src="{{ asset( settings.reguaIconeUm ) }}" width="60" height="60">
                    {% endif %}
                    <div class="regua__content">
                        {% if settings.reguaTitleUm %}
                            <p class="regua__title">{{ settings.reguaTitleUm}}</p>
                        {% endif %}
                        {% if settings.reguaTextUm %}
                            <p class="regua__text">{{ settings.reguaTextUm }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="regua__item">
                    {% if settings.reguaIconeDois %}
                        <img class="regua__image" src="{{ asset( settings.reguaIconeDois ) }}" width="60" height="60">
                    {% endif %}
                    <div class="regua__content">
                        {% if settings.reguaTitleDois %}
                            <p class="regua__title">{{ settings.reguaTitleDois}}</p>
                        {% endif %}
                        {% if settings.reguaTextDois %}
                            <p class="regua__text">{{ settings.reguaTextDois }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="regua__item">
                    {% if settings.reguaIconeTres %}
                        <img class="regua__image" src="{{ asset( settings.reguaIconeTres ) }}" width="60" height="60">
                    {% endif %}
                    <div class="regua__content">
                        {% if settings.reguaTitleTres %}
                            <p class="regua__title">{{ settings.reguaTitleTres}}</p>
                        {% endif %}
                        {% if settings.reguaTextTres %}
                            <p class="regua__text">{{ settings.reguaTextTres }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="regua__item">
                    {% if settings.reguaIconeQuatro %}
                        <img class="regua__image" src="{{ asset( settings.reguaIconeQuatro ) }}" width="60" height="60">
                    {% endif %}
                    <div class="regua__content">
                        {% if settings.reguaTitleQuatro %}
                            <p class="regua__title">{{ settings.reguaTitleQuatro}}</p>
                        {% endif %}
                        {% if settings.reguaTextQuatro %}
                            <p class="regua__text">{{ settings.reguaTextQuatro }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <button aria-label="Previous" class="slider-prev"><i class="fas fa-angle-left"></i></button>
            <button aria-label="Next" class="slider-next"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>
</div>