{% if products|length > 0 %}
    <div class="showcase showcase-banner">
        <div class="container showcase-flex">
            <div class="showcase-text-content">
                <h1 class="showcase__title">{{ showcaseTitle }}</h1>
                <p class="showcase__text">{{ settings.textVitCategorias }}</p>
            </div>
            <div class="control showcase-carrossel-content">
                <ul class="showcase-content showcase-banner-init prod">
                    {% for product in products %}
                        {% set ranking = product.ranking %}
                        <li class="showcase-content__item">
                            {% element 'snippets/product' {"product": product} %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}