{% if products|length > 0 %}
    <div class="showcase catalog container" data-tray-tst="vitrine_home">
        <ul class="showcase-content">
            {% for product in products %}
                {% set ranking = product.ranking %}
                <li class="showcase-content__item" data-tray-tst="vitrine_produto" itemscope itemtype="https://schema.org/SomeProducts">
                    {% element 'snippets/product' {"product": product} %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}