.product-breadcrumb {
    margin-top: 30px;
}

.product-content {
    margin-bottom: 50px;

    .product-content__flex {
        margin-top: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        @media(max-width: 767px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

        .colum-prod-photo {
            width: 28%;

            .zoom-content-image {
                img {
                    margin: 0 auto;
                }
            }

            .content-image__carrossel {
                position: relative;

                .slider-prev,
                .slider-next {
                    position: absolute;
                    top: 50%;
                    border: none;
                    background-color: transparent;
                    color: #222;
                    font-size: 20px;
                    border-radius: 0;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                }

                .slider-prev {
                    left: -20px;
                }

                .slider-next {
                    right: -20px;
                }

                .thumb-content {
                    padding: 20px;
                    margin-left: -20px;
                }

                .thumb {
                    border-right: 1px solid #999;
                    border-bottom: 1px solid #999;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .colum-prod-info {
            width: 68%;

            .prod-name {
                font-family: $fontStyle;
                font-weight: $bold;
                font-size: 30px;
                margin-bottom: 20px;
            }

            .frete-content {
                margin-top: 40px;
                font-size: 0;

                #cep1 {
                    margin-right: 5px;
                }

                #cep2 {
                    margin-left: 5px;
                }

                input {
                    padding: 8px 30px;
                    border: 0;
                    text-align: center;
                    font-size: 16px;

                    @media(max-width: 1399px) {
                        width: 100%;
                        margin-right: 0;
                        margin-left: 0!important;
                        margin-bottom: 10px;
                    }
                }

                h6.cepbox-text {
                    font-size: 0;
                    margin-bottom: 15px;

                    &::after {
                        content: "Calcular Frete";
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: $bold;
                    }
                }

                label[for="cep1"] {
                    display: none;
                }

                #cepbox {
                    .botao-commerce {
                        display: inline-block;
                        padding: 11px 24px;
                        font-size: 16px;
                        background-color: var(--bgButton);
                        color: var(--textButton);
                        text-transform: uppercase;
                        font-family: $fontStyle;
                        text-align: center;
                        text-decoration: none;
                        transition: .3s;

                        &:hover {
                            border-radius: 0 10px;
                        }

                        @media(max-width: 1399px) {
                            width: 100%;
                        }
                    }
                }
            }

            .price-request {
                .produto-formas-pagamento,
                .botao-sob-consulta {
                    display: none;
                }

                #preco #produto_preco .botao_tire_duvidas {
                    display: block;
                    text-align: center;
                    background-color: var(--bgButton);
                    color: var(--textButton);
                    padding: 15px;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    transition: .3s;
                    text-decoration: none;

                    &:hover {
                        border-radius: 30px;
                    }
                }
            }

            .prod-info__flex {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;

                .kit-content {
                    background-color: #fff;
                    margin-top: 20px;
                    border-bottom: 1px solid #bbb;
                    border-right: 1px solid #bbb;

                    .tray-kit {
                        border: none;
                    }

                    .tray-kit-image,
                    .tray-kit-variation li {
                        border-radius: 50%;

                        img {
                            border-radius: 50%;
                        }
                    }

                    .tray-kit-name {
                        font-size: 15px;

                        a {
                            color: #000;
                        }
                    }

                    .texto_variacao {
                        h2 {
                            font-size: 14px;
                            margin-bottom: 5px;
                        }

                        #cor_nome {
                            margin-bottom: 5px;
                            display: block;
                        }
                    }
                }

                .prod-info,
                .prod-form {
                    width: 48%;
                }

                @media(max-width: 992px) {
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;

                    .prod-info,
                    .prod-form {
                        width: 100%;
                    }
                }

                .prod-info {
                    .prod-seal {
                        margin-bottom: 25px;
                        .seal {
                            display: inline-block;
                            padding: 5px 5px;
                            margin-right: 10px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }

                        .destaque-seal {
                            background-color: var(--seloDestaqueBg);
                            color: var(--seloDestaqueText);
                        }

                        .lancamento-seal {
                            background-color: var(--seloNovosBg);
                            color: var(--seloNovosText);
                        }

                        .frete-gratis-seal {
                            background-color: var(--seloShippingBg);
                            color: var(--seloShippingText);
                        }

                        .discount-seal {
                            background-color: var(--seloDescontoBg);
                            color: var(--seloDescontoText);
                        }
                    }

                    .ranking-content {
                        margin-bottom: 5px;

                        .fas.fa-star {
                            color: var(--bgButton);
                        }

                        .far.fa-star {
                            color: #888;
                            font-weight: bold;
                        }
                    }

                    .details-content {
                        font-size: 16px;
                        margin-bottom: 25px;
                        line-height: 20px;

                        .dados-valor {
                            margin-right: 10px;
                        }
                    }

                    .desc-simplificada {
                        font-size: 16px;
                        letter-spacing: 1px;
                        line-height: 25px;

                        .mais-detalhes {
                            font-weight: $bold;
                            color: #222;
                            display: block;
                        }
                    }
                }

                .prod-form {
                    @media(max-width: 992px) {
                        margin-top: 20px;
                    }

                    .price-content-flex {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                                justify-content: space-between;

                        .upon-request {
                            font-size: 20px;
                            font-weight: bold;
                            -ms-flex-item-align: center;
                            -ms-grid-row-align: center;
                            align-self: center;
                            color: #7b7b7b;
                        }

                        @media(max-width: 350px) {
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: reverse;
                                -ms-flex-direction: column-reverse;
                                    flex-direction: column-reverse;
                            -webkit-box-align: start;
                                -ms-flex-align: start;
                                    align-items: flex-start;

                            .share-content {
                                margin-bottom: 15px;
                            }
                        }

                        .share-content {
                            p {
                                color: #000;
                                font-weight: $bold;
                            }

                            .share-itens {
                                margin-top: 10px;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                        align-items: center;
                                -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                        justify-content: center;

                                a {
                                    color: #fff;
                                    transition: .3s;
                                    text-decoration: none;
                                    display: inline-block;
                                    margin-right: 10px;
                                    height: 30px;
                                    width: 30px;
                                    font-size: 16px;
                                    font-weight: bold;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-align: center;
                                        -ms-flex-align: center;
                                            align-items: center;
                                    -webkit-box-pack: center;
                                        -ms-flex-pack: center;
                                            justify-content: center;

                                    &:last-child {
                                        margin-right: 0;
                                    }

                                    &:hover {
                                        border-radius: 50%;
                                    }
                                }

                                .facebook { background-color: #4267B2; }
                                .twitter { background-color: #1DA1F2; }
                                .whatsapp { background-color: #1ead53; }
                                .whatsapp-mobile { display: none; background-color: #1ead53; }

                                @media(max-width: 992px) {
                                    .whatsapp { display: none; }
                                    .whatsapp-mobile { 
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;
                                    }
                                }
                            }
                        }
                    }

                    .price-content {
                        .price.preco-cut {
                            font-size: 16px;
                            font-weight: $semiBold;
                            text-decoration: line-through;
                            color: #7b5050;
                        }

                        .price-promotion {
                            font-size: 30px;
                            font-weight: $bold;
                            font-family: $fontStyle;
                        }
                    }

                    #form_comprar {
                        .qtde-content {
                            margin-top: 20px;

                            .flex-qtde-buy #quantidade {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;

                                #plus,
                                #minus {
                                    background-color: var(--bgButton);
                                    color: var(--textButton);
                                    border: none;
                                    padding: 10px 15px;
                                }

                                #quant {
                                    padding: 5px 40px;
                                    text-align: center;
                                    border: none;
                                    margin-right: 5px;
                                    margin-left: 5px;
                                    width: 100%;
                                }
                            }

                            .btn-buy {
                                background-color: var(--bgButton);
                                color: var(--textButton);
                                border: none;
                                padding: 10px;
                                font-size: 18px;
                                text-transform: uppercase;
                                font-family: $fontStyle;
                                text-align: center;
                                width: 100%;
                                margin-top: 25px;
                                transition: .3s;

                                &:hover {
                                    border-radius: 0 10px;
                                }
                            }
                        }
                    }

                    .variants-content {
                        .passo1,
                        .passo2 {
                            .lista_cor_variacao {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;

                                li {
                                    .color_variant,
                                    img {
                                        border: 3px solid transparent;
                                        border-radius: 50%;
                                        transition: .3s;
                                    }

                                    .color_variant.cor_selecionada,
                                    img.cor_selecionada {
                                        border: 3px solid #222;
                                    }

                                    div[data-tray-tst] {
                                        transition: .3s;
                                        background-color: #ccc;
                                        color: #000;
                                        width: 30px;
                                        height: 30px;
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;
                                        -webkit-box-align: center;
                                            -ms-flex-align: center;
                                                align-items: center;
                                        -webkit-box-pack: center;
                                            -ms-flex-pack: center;
                                                justify-content: center;
                                        margin-right: 5px;
                                        margin-left: 5px;
                                        border: 1px solid #999;
                                    }

                                    div[data-tray-tst].cor_selecionada {
                                        background-color: #000;
                                        color: #fff;
                                        border-radius: 50%;
                                        border: 1px solid #000;
                                    }
                                }

                                li.sem_estoque {
                                    pointer-events: none;
                                    position: relative;
                                    opacity: .5;

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        width: 100%;
                                        height: 1px;
                                        background-color: red;
                                        -webkit-transform: translate(-50%, -50%) rotate(45deg);
                                            -ms-transform: translate(-50%, -50%) rotate(45deg);
                                                transform: translate(-50%, -50%) rotate(45deg);
                                    }
                                    &::after {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        width: 100%;
                                        height: 1px;
                                        background-color: red;
                                        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
                                            -ms-transform: translate(-50%, -50%) rotate(-45deg);
                                                transform: translate(-50%, -50%) rotate(-45deg);
                                    }
                                }
                            }

                            .texto_variacao {
                                h2 {
                                    font-size: 20px;
                                    font-weight: $semiBold;
                                    font-family: $fontStyle;
                                    margin-bottom: 10px;
                                }

                                #cor_nome {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media(max-width: 992px) {
            .colum-prod-info,
            .colum-prod-photo {
                width: 45%;
            }
        }

        @media(max-width: 767px) {
            .colum-prod-info {
                width: 100%;
            }

            .colum-prod-photo {
                width: 50%;
                margin: 0 auto;
            }
        }

        @media(max-width: 400px) {
            .colum-prod-photo {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}

.video-content {
    margin-top: 50px;
    margin-bottom: 50px;

    .title {
        text-align: center;
        font-weight: $bold;
        font-size: 35px;
        margin-bottom: 20px;
        font-family: "EB Garamond", serif;
    }

    .video-content__responsive {
        width: 100%;
        max-width: 100%;
        height: 450px;
        display: block;
        border-radius: 30px 30px 0;

        @media(max-width: 991px) {
            height: 350px;
        }
    }
}

.background-tabs {
    background-color: #fff;
    padding: 50px 0;
    margin: 50px 0;
}

.product-tabs {
    .abasProduto.tab-panel {
        .list-tabs {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            li {
                margin-bottom: 5px;
                a {
                    padding: 15px 30px;
                    background-color: var(--bgButton);
                    margin-right: 10px;
                    color: var(--textButton);
                    display: block;
                    transition: .3s;
                    font-size: 15px;
                    font-weight: $bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: $fontStyle;

                    &:hover {
                        border-radius: 0 10px;
                    }
                }
            }
        }
    }

    #coments {
        h2 {
            font-size: 22px;
            font-weight: $bold;
            text-transform: uppercase;

            @media(max-width: 500px) {
                font-size: 16px;
            }
        }

        .tray-hide {
            display: none;
        }

        .hreview-comentarios {
            width: 100%;

            .reviewer {
                margin-bottom: 10px;
                display: block;

                h3 {
                    font-weight: $bold;
                    font-size: 18px;
                }
            }

            .ranking {
                display: inline-block;
                background-color: var(--bgButton);
                color: var(--textButton);
                padding: 5px 20px;
                border-radius: 30px;
                margin-bottom: 15px;
                font-size: 10px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    .prodBox {
        background-color: #ffffff;
        margin-top: 20px;

        .board_htm  {
            width: initial;
            margin: initial;
            padding: initial;
        }

        .board ul li:first-child {
            margin-top: 0!important;
        }

        #comentario_cliente {
            #form-comments {
                margin-bottom: 20px;
                .tray-hide {
                    display: none;
                }

                label {
                    width: 100%;
                    margin-bottom: 20px;

                    h3 {
                        font-size: 15px;
                    }

                    input[type="text"] {
                        width: 100%;
                        border: 1px solid #999;
                        padding: 10px;
                        margin-top: 5px;
                        border-radius: 10px 10px 0;
                    }

                    input[type="checkbox"] {
                        width: auto;
                    }

                    .textarea {
                        width: 100%!important;
                        border: 1px solid #999;
                        border-radius: 15px 15px 0;
                        padding: 10px;
                    }
                }

                .rateBlock .stars {
                    .starn {
                        margin-bottom: 20px;
                        display: inline-block;
                        margin-right: 10px;
                        cursor: pointer;

                        &::before {
                            content: "\f005";
                            font-family: "Font Awesome 5 Free";
                            color: #ffa600;
                            font-size: 18px;
                            font-weight: $regular;
                        }
                    }

                    .starn.star-on {
                        &::before {
                            content: "\f005";
                            font-family: "Font Awesome 5 Free";
                            color: #ffa600;
                            font-size: 18px;
                            font-weight: $bold;
                        }
                    }
                }
            }

            a[data-logged-user="false"] {
                background-color: var(--bgButton);
                color: var(--textButton);
                padding: 15px 20px;
                display: inline-block;
                border-radius: 30px;
                text-decoration: none;
                transition: .3s;

                &:hover {
                    border-radius: 30px 30px 0;
                }
            }
        }
    }

    #formasPagto,
    [data-tab-container-id="#formasPagto"] {
        display: none!important;
    }
}

.related-products {
    margin-bottom: 50px;
}

.modal-content {
    #div_atualiza {
        p:first-child {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 15px;
        }

        input,
        label,
        textarea {
            width: 100%;
        }

        label {
            margin-top: 20px;
            font-weight: bold;

            input,
            textarea,
            select {
                margin-top: 5px;
                border: 1px solid #555;
                padding: 5px;
                border-radius: 5px;
            }
        }
    }

    .image.perguntasProdutoBTimg {
        background-color: var(--bgButton);
        color: var(--textButton);
    }
}